---
import Layout from "../../layouts/Layout.astro";
import Menu from "../../components/menu/Menu";
import { Image } from "astro:assets";
import { getPosts } from "../../lib/content/posts";

export async function getStaticPaths() {
  const posts = await getPosts();
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <section class="mb-16 grid grid-cols-10 gap-x-6 py-8">
    <a
      class="h2 col-start-1 col-end-5 mb-12 transition-colors transition-transform hover:-translate-x-2 hover:text-accent"
      href="/posts">← POSTS</a
    >
    <header class="col-start-10 col-end-11 mb-12 flex items-center justify-end">
      <Menu client:load />
    </header>
    <div class="col-span-full grid grid-cols-10 gap-x-6 gap-y-4">
      <h1 class="col-start-1 col-end-7 text-7xl">{post.data.title}</h1>
      <div
        class="col-start-8 col-end-11 flex flex-col items-end gap-y-4 text-right"
      >
        <div>
          <h2>DATE</h2>
          <p>{post.data.date}</p>
        </div>
        <div>
          <h2>LENGTH</h2>
          <p>{post.data.length}</p>
        </div>
      </div>
      <div class="col-span-full mt-10 overflow-hidden">
        <Image
          src={post.data.image}
          alt={`${post.data.title} cover`}
          class="h-full w-full object-cover"
        />
      </div>
      <div class="col-span-full mt-10 grid grid-cols-10 gap-x-6">
        <h2 class="col-start-1 col-end-3">DESCRIPTION</h2>
        <p class="col-start-7 col-end-11">
          {post.data.description}
        </p>
      </div>
    </div>
  </section>
  <article class="mdx pb-24">
    <Content />
  </article>
</Layout>
