---
import Layout from "../../layouts/Layout.astro";
import Menu from "../../components/menu/Menu";
import Footer from "../../components/Footer.astro";
import { Image } from "astro:assets";
import { render } from "astro:content";
import { getExperiments } from "../../lib/content/experiments";
import ScrollToTop from "../../components/menu/ScrollToTop";

export async function getStaticPaths() {
  const experiments = await getExperiments();
  return experiments.map((experiment) => ({
    params: { slug: experiment.id },
    props: { experiment },
  }));
}

const { experiment } = Astro.props;
const { Content } = await render(experiment);
---

<Layout title={experiment.data.title}>
  <ScrollToTop client:load />
  <section class="section-grid mb-16 py-8">
    <div class="mb-16 flex items-center justify-between gap-4 md:col-span-full">
      <a
        class="h2 whitespace-nowrap transition-colors transition-transform md:hover:-translate-x-2 md:hover:text-accent"
        href="/experiments">← EXPERIMENTS</a
      >
      <header class="shrink-0">
        <Menu client:load />
      </header>
    </div>
    <div
      class="grid grid-cols-1 gap-y-6 md:col-span-full md:grid-cols-10 md:gap-x-6 md:gap-y-8"
    >
      <h1 class="display-xl md:col-start-1 md:col-end-7">
        {experiment.data.title}
      </h1>
      <p class="max-w-prose md:col-start-1 md:col-end-7">
        {experiment.data.description}
      </p>
      <div
        class="flex flex-col gap-y-4 md:col-start-8 md:col-end-11 md:row-start-1 md:row-end-3 md:items-end md:self-start md:text-right"
      >
        <div>
          <h2>DATE</h2>
          <p>{experiment.data.date}</p>
        </div>
        {
          experiment.data.tech && (
            <div>
              <h2>TECH</h2>
              <p>{experiment.data.tech.join(" / ")}</p>
            </div>
          )
        }
      </div>
      <div class="overflow-hidden md:col-span-full">
        <Image
          src={experiment.data.image}
          alt={`${experiment.data.title} cover`}
          class="h-[clamp(24rem,55vw,42rem)] w-full object-cover"
        />
      </div>
    </div>
  </section>
  <article class="mdx pb-16 md:pb-24">
    <Content />
  </article>
  <Footer />
</Layout>
