---
import { getCollection, type CollectionEntry } from "astro:content";

const basePosts: CollectionEntry<"posts">[] = await getCollection("posts");
const posts = basePosts
  .map((post) => ({
    ...post,
    url: `/blog/${post.slug}/`,
  }))
  .sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
  );

const featured = posts[0];
---

<section id="posts" class="mb-48 grid grid-cols-10 gap-x-6">
  <h2 class="col-start-1 col-end-2 mb-6">[03]</h2>
  <h1 class="col-start-5 col-end-11 mb-6 text-right text-7xl">
    Latest Thought
  </h1>
  <a
    href="/blog"
    class="h2 col-span-full mb-32 text-right transition-colors transition-transform hover:-translate-x-2 hover:text-accent"
    >← ALL POSTS</a
  >
  <div class="col-start-2 col-end-9 grid grid-cols-1 gap-12">
    <a
      href={featured.url}
      class="group items-start gap-x-8 border border-transparent transition-all"
    >
      <div class="flex flex-col gap-y-6">
        <h2>{featured.data.date}</h2>
        <h3 class="transition-colors group-hover:text-accent">
          {featured.data.title}
        </h3>
        <p>{featured.data.description}</p>
        <h2
          class="transition-colors transition-transform group-hover:translate-x-2 group-hover:text-accent"
        >
          {featured.data.length} →
        </h2>
      </div>
    </a>
  </div>
  <h2 class="col-start-10 col-end-11 text-right">FEATURED</h2>
</section>
