---
import Layout from "../../layouts/Layout.astro";
import Menu from "../../components/menu/Menu";
import { Image } from "astro:assets";
import { getProjects } from "../../lib/content/projects";

export async function getStaticPaths() {
  const projects = await getProjects();
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout title={project.data.title}>
  <section class="mb-16 grid grid-cols-10 gap-x-6 py-8">
    <a
      class="h2 col-start-1 col-end-5 mb-24 transition-colors transition-transform hover:-translate-x-2 hover:text-accent"
      href="/projects">← PROJECTS</a
    >
    <header class="col-start-10 col-end-11 mb-24 flex items-center justify-end">
      <Menu client:load />
    </header>
    <div class="col-span-full grid grid-cols-10 gap-x-6 gap-y-4">
      <h1 class="col-start-1 col-end-7 text-7xl">{project.data.title}</h1>
      <div
        class="col-start-8 col-end-11 flex flex-col items-end gap-y-4 text-right"
      >
        <div>
          <h2>DATE</h2>
          <p>{project.data.date}</p>
        </div>
        {
          project.data.tech && (
            <div>
              <h2>TECH</h2>
              <p>{project.data.tech.join(" / ")}</p>
            </div>
          )
        }
      </div>
      <div class="col-span-full mt-10 overflow-hidden">
        <Image
          src={project.data.image}
          alt={`${project.data.title} cover`}
          class="h-full w-full object-cover"
        />
      </div>
      <div class="col-span-full mt-10 grid grid-cols-10 gap-x-6">
        <h2 class="col-start-1 col-end-3">DESCRIPTION</h2>
        <p class="col-start-7 col-end-11">
          {project.data.description}
        </p>
      </div>
    </div>
  </section>
  <article class="mdx pb-24">
    <Content />
  </article>
</Layout>
