---
import Layout from "../../layouts/Layout.astro";
import Menu from "../../components/menu/Menu";
import { Image } from "astro:assets";
import { getProjects } from "../../lib/content/projects";

export async function getStaticPaths() {
  const projects = await getProjects();
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout title={project.data.title}>
  <section class="section-grid mb-16 py-8">
    <div class="flex flex-col gap-4 md:col-span-full md:flex-row md:items-center md:justify-between">
      <a
        class="h2 transition-colors transition-transform hover:-translate-x-2 hover:text-accent"
        href="/projects">← PROJECTS</a
      >
      <header class="flex items-center justify-end">
        <Menu client:load />
      </header>
    </div>
    <div class="md:col-span-full grid grid-cols-1 gap-8 md:grid-cols-10 md:gap-x-6">
      <h1 class="display-xl md:col-start-1 md:col-end-7">{project.data.title}</h1>
      <div
        class="md:col-start-8 md:col-end-11 flex flex-col gap-y-4 md:items-end md:text-right"
      >
        <div>
          <h2>DATE</h2>
          <p>{project.data.date}</p>
        </div>
        {
          project.data.tech && (
            <div>
              <h2>TECH</h2>
              <p>{project.data.tech.join(" / ")}</p>
            </div>
          )
        }
      </div>
      <div class="md:col-span-full mt-6 overflow-hidden md:mt-10">
        <Image
          src={project.data.image}
          alt={`${project.data.title} cover`}
          class="h-full w-full object-cover"
        />
      </div>
      <div class="md:col-span-full mt-6 grid grid-cols-1 gap-4 md:mt-10 md:grid-cols-10 md:gap-x-6">
        <h2 class="md:col-start-1 md:col-end-3">DESCRIPTION</h2>
        <p class="md:col-start-7 md:col-end-11">
          {project.data.description}
        </p>
      </div>
    </div>
  </section>
  <article class="mdx pb-16 md:pb-24">
    <Content />
  </article>
</Layout>
